.audio-play-button {
  width: 30px;
  height: 30px;
  min-width: 0;
  padding: 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio-play-button > img {
  width: 16px;
}