.desktop-icon {
  width: 80px;
  min-height: 5vw;
  font-family: "Pixelated MS Sans Serif", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
  color: white;
  font-size: 12px;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  user-select: none;
  position: absolute;
  z-index: 0;
}

.icon-image {
  max-width: 48px;
}

.icon-text {
  text-align: center;
}
